version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: study_spots_mongo
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DBNAME}
    volumes:
      - mongo_data:/data/db

  web:
    build: .
    container_name: study_spots_app
    ports:
      - "5001:5000"
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo_data:
