<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Study Spot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_post.css') }}">
</head>
<body>
    <main class="app">
        <h1>Edit Study Spot: {{ post.location }}</h1>

        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}

        <form class="form" method="POST">

            <label for="location">Location:</label>
            <input class="input input-big" type="text" name="location" id="location"
                value="{{ post.location or '' }}" required>


            <label for="googlemaps">Google Maps URL:</label>
            <input class="input input-big" type="text" name="googlemaps" id="googlemaps"
                value="{{ post.googlemaps or '' }}" required>
                
            <div class="choice-row">
                <input class="choice" type="radio" name="seating" id="seat_silent" value="Silent Study"
                    {% if post.seating == 'Silent Study' %}checked{% endif %} required>
                <label class="choice-box" for="seat_silent">Silent<br>Study</label>

                <input class="choice" type="radio" name="seating" id="seat_quiet" value="Quiet Pair"
                    {% if post.seating == 'Quiet Pair' %}checked{% endif %} required>
                <label class="choice-box" for="seat_quiet">Quiet<br>Pair</label>

                <input class="choice" type="radio" name="seating" id="seat_group" value="Fit for Group"
                    {% if post.seating == 'Fit for Group' %}checked{% endif %} required>
                <label class="choice-box" for="seat_group">Fit for<br>Group</label>

            </div>

            
            <div class="yn-grid">
                <div class="yn-label">Wifi-</div>
                <input class="choice" type="radio" name="wifi" id="wifi_yes" value="Yes"
               {% if post.wifi == 'Yes' %}checked{% endif %} required>
                <label class="choice-box" for="wifi_yes">Yes</label>

                <input class="choice" type="radio" name="wifi" id="wifi_no" value="No"
                    {% if post.wifi == 'No' %}checked{% endif %}>
                <label class="choice-box" for="wifi_no">No</label>

                <div class="yn-label">Outlets-</div>
                <input class="choice" type="radio" name="outlets" id="outlets_yes" value="Yes"
                    {% if post.outlets == 'Yes' %}checked{% endif %} required>
                <label class="choice-box" for="outlets_yes">Yes</label>

                <input class="choice" type="radio" name="outlets" id="outlets_no" value="No"
                    {% if post.outlets == 'No' %}checked{% endif %}>
                <label class="choice-box" for="outlets_no">No</label>

                <div class="yn-label">Reservable-</div>
                <input class="choice" type="radio" name="reservable" id="reservable_yes" value="Yes"
                    {% if post.reservable == 'Yes' %}checked{% endif %} required>
                <label class="choice-box" for="reservable_yes">Yes</label>

                <input class="choice" type="radio" name="reservable" id="reservable_no" value="No"
                    {% if post.reservable == 'No' %}checked{% endif %}>
                <label class="choice-box" for="reservable_no">No</label>

            </div>

            <!-- Hours -->
            <div class="hours-grid">
                <div class="hours-label">Hours</div>
                <input
                class="input hours-input"
                type="text"
                name="hours"
                placeholder="Open from-Open to"
                value="{{ post.hours or '' }}"
                required
                >
            </div>

            <input
            class="input"
            type="text"
            name="climate"
            id="climate"
            placeholder="Climate (Sunny/Windy)"
            value="{{ post.climate or '' }}"
            required
            >

            <button class="finish" type="submit">Update Post</button>
        </form>

        <br>
        <a href="{{ url_for('view_post', post_id=post._id) }}">
            <button class="finish" type="button">Back to Post</button>
        </a>
    </main>
</body>
</html>